/** CSS written by bugswriter, use freely */

@font-face {
    font-family: "Hack";
    src: url(../fonts/Hack-Regular.ttf);
}

@font-face {
    font-family: "Kingthings Foundation";
    src: url(../fonts/Kingthings-Foundation.ttf);
}

body{
    max-width: 900px;
    margin: auto;
}

p{
    text-align: justify;
}

hr{
    color: white;
    margin-top: 10px;
}

.search-container {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.search-results{
    text-align: left;
    padding: 5px;
}

.search-results li{
    list-style: none;
    border-bottom: 1px dotted black;
    padding: 5px;
}

.search-results li:nth-child(even) {
    background-color: #FAF9F6;
}

pre {
